<% @activities.subject_activities(subject).each do |activity| %>
  <div>
    <%= subject.name %>
    <%= activity.state %>
    <%= activity.created_at %>
    <%= t("headers.status") %>
    <%= subject.status %>
    <%= render partial: "tasks/task", collection: subject.tasks, as: :task %>
  </div>
<% end %>
